.aa_container {
  background-color: rgb(187, 187, 187);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding: 2em;
  position: fixed;
  text-transform: uppercase;
  width: 29%;
}
/* =========== = =======================*/
/* 		 Header aside 
/* =========== = =======================*/

.aa_header > h4 {
  font-size: 1em;
  font-weight: 100;
  /* letter-spacing: 1px; */
}

.aa_header > h2 {
  font-size: 1.7em;
  font-weight: 100;
  margin-bottom: 0;
  margin: 0.5em 0;
}
.aa_header > hr {
  border-color: rgba(0, 0, 0, 0.466);
  margin: 0.3em 0;
}


.aa_title_type_acre{
  letter-spacing: 1px;
  margin-bottom: .3em;
}
.subtitle_type_acre{
  letter-spacing: 1px;
  font-weight: lighter;
}
.separator_titles{
  margin-bottom: 1.5em!important;
}

/* =========== = =======================*/
/* 		 Main aside 
/* =========== = =======================*/
.aa_container_img {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  min-height: 240px;
}
.py{
  padding: 1em .5em;
}
.aa_location {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}
.aa_container_img > img {

  width: 100%;
}
/* =========== = =======================*/
/* 		 Footer aside 
/* =========== = =======================*/
.aa_footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.aa_logo {
  /* padding: 0.8em 1em; */
  text-align: center;
  width: 30%;
}
.aa_logo>img{
  width: 100%;
  vertical-align: top;
}
.aa_btn_sendKit {
  border-radius: 5px;
  align-items: center;
  background-color: rgb(75, 74, 74);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 0.8em;
  font-weight: 400;
  justify-content: space-evenly;
  letter-spacing: 1px;
  padding: 0.8em 0;
  text-transform: uppercase;
  width: 55%;
}
.aa_btn_sendKit > img {
  filter: invert();
  width: 15%;
}
.aa_btn_sendKit:hover {
  background-color: rgb(22, 21, 21);
}
.aa_map{
  width: 100%;
  height: 300px;
}
.aa_parrafo{
  text-transform: initial;
  font-size: 1.1em;
  text-align: justify;
  margin: 1em 0;
}
.aa_btn_search{
  display: block;
  text-align: center;
  font-weight: normal;
  margin-top: 1em;
  text-decoration: none;
  color: white;
  background-color: var(--btn-color);
  padding: .7em 0;
  width: 100%;
  text-transform: uppercase;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aa_btn_search:hover{
  background-color: var(--primary);
}
.aa_btn_search>img{
  margin-right: 5px;
  filter: invert();
  height: 20px;
  width: 20px;
}

@media screen and (max-width:768px) {

  .aa_container {
    padding: 1em;
  }
  
}

@media screen and (max-width:1024px) {
  .aa_footer {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .aa_logo {
    width: 55%;
    padding: 0;
  }
  
  .aa_btn_sendKit {
    width: 100%;
    margin-bottom: 1em;
  }
  .aa_btn_sendKit > img {
    filter: invert();
    width: 15%;
  }
}
