
.container_cards {
    display: grid;
    gap: 1.5em 0.5em;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
    padding-right: 1.3em;
  }
  .card {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137);
    border: 1px solid rgba(0, 0, 0, 0.103);
    padding: 1em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .text_content>h5{
    font-size: 1.1em;
  } 
  .card_desc {
    font-size: 1em;
    text-transform: initial;
    font-weight: normal;
  }
  .card > img {
    width: 100%;
    height: 140px;
    max-height: 200px;
    object-fit: cover;
  }
  .container_btn {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
  }
  .container_btn > button {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0.7em 0.5em;
    width: 48%;
    border-radius: 5px;
  }
  .container_btn > button:nth-child(1) {
    background-color: var(--primary);
  }
  .container_btn > button:nth-child(2) {
    background-color: rgb(34, 34, 34);
  }
  .container_btn > button:hover {
    opacity: 0.8;
  }
  .text_content{
    margin: 2em 0em 1em 0em;
  }

  .no_products{
    grid-area: 1/2;
    text-align: center;
    margin-top: 3em;
    font-size: 2em;
  }

@media screen and (min-width:1612px) {
  .card > img {
    height: 200px;
  }
}

@media screen and (max-width:1024px) {
  .container_cards {
    grid-template-columns: repeat(2, 1fr); 
  }
  .card_desc {
    font-size: 1em;
  }
  .text_content>h5{
    font-size: 1.1em;
  } 
}

@media screen and (max-width:768px) {
  .container_cards {
    position: relative;
  }
  .no_products{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}


