
.container_cards {
    display: grid;
    gap: 1.5em 0.5em;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2em;
    padding-right: 1.3em;
  }
  .card {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.137);
    padding: 1em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .card_title {
    font-size: 1em;
  }
  .card_desc {
    font-size: 0.8em;
    text-transform: initial;
    font-weight: normal;
  }
  .card > img {
    object-fit: cover;
    width: 200px;
    /* height: 200px; */
    max-height: 200px;
  }
  .container_btn {
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    width: 100%;
  }
  .container_btn > button {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
    width: 48%;
  }
  .container_btn > button:nth-child(1) {
    background-color: rgb(216, 98, 1);
  }
  .container_btn > button:nth-child(2) {
    background-color: rgb(34, 34, 34);
  }
  .container_btn > button:hover {
    opacity: 0.8;
  }
  .text_content{
    margin: 2em 0em 1em 0em;
  }

  .no_products{
    grid-area: 1/2;
    text-align: center;
    margin-top: 3em;
    font-size: 2em;
  }