.cp_question {
  color: rgb(97, 97, 97);
  font-size: 0.9em;
  font-weight: bolder;
}
input[type="radio"] {
  display: none;
}

.cp_line,
.cp_line_power,
.cp_none {
  background-color: rgb(194, 194, 194);
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  left: 44%;
  position: relative;
  width: 25px;
}

.line_point_large {
  width: 74%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.342);
  position: absolute;
  top: 25%;
  left: 12.5%;
  /* transform: translateY(-00%); */
}

.line_point_large_three {
  width: 67%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.342);
  position: absolute;
  top: 20%;
  left: 16%;
  /* transform: translateY(-00%); */
}

.cp_icon_item_container {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  justify-content: space-around;
  margin: auto;
  width: 30%;
}
.cp_column {
  flex-direction: column;
  justify-content: center;
  padding: 0;
  text-align: center;
  width: 100%;
}
.cp_subtitle {
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(59, 59, 59);
}
.cp_icon_item_container > img {
  filter: grayscale(1);
  height: 20px;
  width: 20px;
}

.cp_grid_power {
  width: 91%;
  padding-right: 0.7em;
  padding-left: 0.1em;
  margin: auto;
  display: grid;
  /* padding: 0 1.8em; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}

input[type="radio"]:checked ~ .cp_label_circle {
  background-color: var(--primary);
}

.cp_radio_circle > label:hover {
  background-color: rgb(153, 153, 153);
  transition: all 0.3s ease;
}

.cp_grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  position: relative; 
}
.cp_grid_tags {
  display:flex;
  /* justify-content: center; */
  /* background-color: rgba(48, 46, 49, 0.219); */
  align-items: center;
  flex-wrap: wrap;
  gap: .2em;
  width:80%;
  margin: auto;
  /* min-height: 95px; */
}
.tag_cp_label{
  text-transform: none;
  font-size: .8em;
  margin-left: .5em;
  cursor: pointer;
  border-radius: 5px;
  padding: .2em .5em;
  background-color: var(--primary);
  color:white;


  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tag_x{
  margin-left: .5em;
  font-size: .7em;
}
.tag_cp {
  display: none;
}
.tag_cp:checked ~label{
  filter: grayscale(1);
}

.frecuent_option > label {
  cursor: default;
}