.grid_container_ps {
  width: 100%;
  position: relative;
}
.other_options_ps:before,
.grid_container_ps:before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: rgba(131, 128, 128, 0.308);
  position: fixed;
  top: 0;
  right: -34.5%;
  z-index: -2;
}
.title_ps,
.title_ps_info_nav {
  text-align: end;
  font-size: 1.9em;
  color: var(--primary);
  text-shadow: 2px 2px 1px rgba(165, 162, 162, 0.212);
  letter-spacing: 1px;
}
.title_otheroptions {
  text-align: start;
  font-size: 1.5em;
  color: var(--primary);
  margin: 1em 0;
}
.mt-title{
  margin-top: 3em;
}
.title_ps {
  padding-top: 1em;
  padding-right: 2em;
  background-color: #fff;
  width: 95%;
  margin: auto;
}
.product {
  padding-bottom: 2em;
}
.item_grid {
  /* outline: auto; */
  min-height: 95vh;
}

.content_image_ps {
  padding-bottom: 1em;
  background-color: white;
  width: 95%;
  height: 250px;
  margin: auto;
  text-align: center;
}
.content_image_ps > .img {
  width: 100%;
  height: 250px;
  object-fit: none;
}
.sub_ps {
  text-align: center;
  color: var(--primary);
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
  background: white;
  width: 95%;
  margin: auto;
  padding-bottom: 1em;
}

.nav_ps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7em;
}
.item_nav_ps {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.712);
  color: orange;
  cursor: pointer;
  padding: 0.5em 0;
  transition: all 0.3s ease;
}
.selected_item_nav_ps {
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: var(--primary);
}
.section_selected_ps {
  background-color: #fff;
  padding-top: 1em;
  padding: 1em 1.5em;
  padding-bottom: 0;
}
.title_ps_info_nav {
  text-align: start;
}
.details_starts {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.content_stars {
  display: flex;
  align-items: center;
}
.content_img_start {
  width: 2em;
  height: 2em;
  margin: 0 0.2em;
}

.content_img_start > img {
  text-align: center;
  object-fit: cover;
  width: 100%;
  /* vertical-align: top; */
  height: 100%;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn_seeFull {
  background-color: var(--primary);
  border: none;
  padding: 0.8em 0.5em;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
}
.btn_seeFull:hover {
  background-color: rgb(197, 115, 7);
}
.btn_seeFull:active {
  background-color: rgb(168, 99, 8);
}
.content_text_ps {
  padding: 1.5em 0;
}
.long_desc_ps {
  text-align: justify;
  line-height: 1.6em;
  font-size: 1.3em;
  
}
.price_ps {
  text-align: end;
  font-size: 1.7em;
}

/* Aside rigth */

.card_container{
  width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.342);
  display: grid;
  grid-template-columns: 45% 55%;
  align-items: center;
  background: #fff;
  margin-bottom: 1.5em;
}
.card_container_m-auto{
  margin: auto;
  margin-bottom: 1.5em;
}
.info {
  padding: 0 2em;
}
.info_card_container {
  padding: 1em 1.5em 0em 0em;
}
.container_img_card {
  width: 100%;
}
.container_img_card > img {
  width: 100%;
  object-fit: cover;
}
.title_card_other {
  text-align: start;
  color: orange;
  font-size: 1.5em;
  font-weight: bold;
}
.desc_other_product {
  font-size: 1.1em;
  margin-top: .5em;
}
.price_other_product {
  text-align: end;
  padding-top: 0.5em;
  font-size: 1.2em;
}
.container_starts_others {
  display: flex;
  align-items: center;
  margin: 0.2em 0;
}
.content_img_start_others_product {
  width: 1.5em;
  height: 1.5em;
  margin: 0 0.1em;
}
.content_img_start_others_product > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.text_star_other_product {
  margin-left: 0.5em;
  /* font-size: ; */
}
.text_star_other_product > p > span {
  color: orange;
  margin-left: 0.5em;
}

.text_star {
  margin-left: 0.5em;
}

.text_star > p > span {
  color: var(--primary);
  font-weight: normal;
  padding-left: 0.2em;
}
.container_btn_car {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn {
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn_product_selected {
  width: 30%;
}
.btn_other_product {
  width: 60%;
}
.btn:hover {
  background-color: rgb(240, 110, 4);
}
.btn:active {
  background-color: rgb(211, 98, 5);
}
.btn > img {
  width: 2em;
  height: 2em;
  object-fit: cover;
  vertical-align: top;
}
.btn:disabled {
  background-color: gray;
  cursor: auto;
}
.btn:disabled:hover {
  background-color: gray;
  cursor: auto;
}

.scroll_container{
  height: 100vh;
  overflow-y: scroll;
}

@media screen and (min-width: 1612px) {
  .content_image_ps {
    padding-bottom: 1em;
    background-color: white;
    width: 95%;
    height: auto;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content_image_ps > .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.empty_options {
  text-align: center;
  font-size: 2em;
  padding-bottom: 0.5em;
  border-bottom: 3px dashed black;
  width: 70%;
  margin: 2em auto;
}

.header_other_options {
  background-color: rgb(53, 52, 52);
  padding: 1em 0;
  position: fixed;
  right: 1.2%;
  width: 64.3%;
  z-index: 100;
  cursor: pointer;
}
.header_other_options > p {
  color: var(--primary);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .other_options_ps:before,
  .grid_container_ps:before {
    right: -36%;
  }

  .header_other_options {
    right: -.15%;
    top: 0;
    width: 64.3%;
  }

  .card_container{

    margin: 2em auto;
  }
}
