.rp_container_item_radio {
    align-items: center;
    display: grid;
    grid-template-columns: 28% 72%;
    margin: 1.5em 0 1.5em 0;
    position: relative;
    text-transform: uppercase;
  }
  
  .rp_subtitle {
    color: var(--primary);
    font-size: 2.5em;
    letter-spacing: 1px;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    padding-top: .3em;
  }
  .container_saparator{
    /* margin: 1em 0; */
    margin-top: 2em;
  }
  .rp_subtitle_separator{
    color: var(--primary);
    font-size: 1.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .rp_container {
    height: 100vh;
    overflow-y: scroll;
    padding: 0em 0em 1em 1em;
    position: fixed;
    right: 0;
    top: 0;
    width: 65%;
  }
  
  
@media screen and (max-width:768px) {
  body{
    font-size: 13px;
  }
  .rp_subtitle {
    font-size: 1.7em;
  }
}

@media screen and (max-width:1024px) {
  .rp_container {
    padding: 1em 0em 1em 1em;
    width: 63.5%;
  }
}
