.overlay{
    position: fixed;
    top: 0;
    right: 0;
    width: 94.5vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.842);
    z-index: 10;
    transition: all .3s ease;
    animation: showBack .3s 1;
}

@keyframes showBack {
    from{
     opacity: 0;   
    }
    to{
        opacity: 1;
    }
}

.close_modal_btn{
    width: 2em;
    height: 2em;
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
}
.container_modal{
    width: 80%;
    min-height: 91vh;
    background-color: #fff;
    margin: 2em auto 0em auto;
    z-index: 11;
    border-radius: 3px;
    padding: 1em 2em;
    position: relative;
    display: grid;
    grid-template-rows: 10% 45% 25% 10%;
    gap: 1em;
}

.container_modal_three{
    grid-template-rows: 10% 73% 10%;
}

.title_car{
    text-align: center;
    padding: 0em 0em .3em 0em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.664);
    width: 70%;
    margin: auto;
    font-weight: bold;
    font-size: 2em;
}

.container_btn_card{
    text-align: end;
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form_email_modal, .container_input_modal{
    /* outline: auto; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container_input_modal > input {
    padding: .5em;
    width: 70%;
    font-size: 1em;
}
.container_input_modal > label {
    font-weight: bold;
    margin-right: 1em;
}

.btn_buy{
    border-radius: 5px;
    background-color: var(--primary);
    padding: .5em;
    color: white;
    border: 1px solid orangered;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bold;
    width: 30%;
    margin-left: 2em;   

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.btn_buy > img{
    vertical-align: top;
    width: 17%;
    filter: invert();
}

.btn_buy:hover{
    background-color: var(--primary);
}

.btn_buy:active{
    background-color: rgb(197, 130, 5); 
}
.btn_buy:disabled{
    cursor: auto;
    background-color: rgb(138, 138, 138);
    color: black;
    border: 1px solid rgb(77, 76, 76);
}
.btn_buy:disabled:hover{
    cursor: auto;
    background-color: rgb(138, 138, 138);
    color: black;
    border: 1px solid rgb(77, 76, 76);
}

.empty_shopingCar{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
.empty_shopingCar>p{
    margin-bottom: .5em;
}
.empty_shopingCar>img{
    width: 40%;
}

.item_car{
    padding: 1em;
    border: 1px solid black;
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: bold;
}
.hidden{
    display: none;
}
.container_items_car{
    position: relative;
    overflow-y:scroll;
    max-height: 40vh;
    /* padding: 0 0 0 1em; */
    padding: 0 1em;
    background-color: rgba(0, 0, 0, 0.1);
}

/* estilos al scrool */
.container_items_car::-webkit-scrollbar,.container_trash::-webkit-scrollbar  {
    -webkit-appearance: none;
}

.container_items_car::-webkit-scrollbar:vertical, .container_trash::-webkit-scrollbar:vertical {
    width:10px;
}

.container_items_car::-webkit-scrollbar-button:increment,.container_items_car::-webkit-scrollbar-button,
.container_trash::-webkit-scrollbar-button:increment,.container_trash::-webkit-scrollbar-button {
    display: none;
} 

.container_items_car::-webkit-scrollbar:horizontal,.container_trash::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container_items_car::-webkit-scrollbar-thumb,.container_trash::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.container_items_car::-webkit-scrollbar-track,.container_trash::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.container_items_car_full{
    position: relative;
    overflow-y:scroll;
    max-height: 60vh;
    padding: 0 1em;
    background-color: rgba(0, 0, 0, 0.1);
}

.container_trash{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 1em;
    overflow-y: scroll;
    min-height: 110px;
    max-height: 110px;
    overflow-x: hidden;
}
.title{
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    width: 100%;
}

.mount_delete{
    display: flex;
    align-items: center;
    font-weight: bold;
}


.btn_remove{
    height: 30px;
    cursor: pointer;
    margin-left: 2em;
    
}
.amount_total{
    font-size: 1.6em;
}



@media screen and (max-width:1024px) {
    .overlay{
        width: 92.95vw;
    }
    .container_trash{
        min-height: 150px;
        max-height: 150px;
    }
  }
  