.hp_background {
  background-color: rgb(53, 53, 53);
  background-image: url("https://res.cloudinary.com/ddeguj0jq/image/upload/v1631557345/search_back-min_reyes2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.hp_label,
.hp_card {
  /* background-color: rgb(248, 99, 0); */
  background-color: var(--primary);
  color: white;
}
.hp_label {
  display: block;
  font-size: 1.5em;
  margin: 1em auto;
  padding: 0.3em 0;
  text-align: center;
  width: 9%;
  letter-spacing: 2px;
}

.hp_title {
  color: white;
  text-shadow: 7px 7px 6px rgba(0, 0, 0, 0.493);
  font-size: 4.5em;
  font-family: 'STIHL';
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 1em;
}
.hp_subtitle {
  color: white;
  text-shadow: 7px 1px 5px rgba(0, 0, 0, 0.671);
  font-size: 2em;
  letter-spacing: 1px;
  margin: 0.5em auto auto auto;
  text-align: center;
  text-transform: uppercase;
  width: 85%;
  font-weight: 200;
}

.hp_container_cards {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4em auto auto auto;
  width: 90vw;
  gap: 2.5em;
}

.hp_card {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-weight: bold;
  min-height: 240px;
  height: 240px;
  width: 240px;
  max-height: 250px;
  justify-content: space-evenly;
  padding: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all .3s ease;
}

.hp_card > img {
  /* filter: invert();s */
  width: 100%;
  object-fit: cover;
}
.hp_card:hover{
  transform: translateY(-10px);
}
.hp_card.card_address{
  background-color: white;
  color: black;
}
.hp_card.card_address > img {
  filter: none;
  width: 50%;
  transform: scale(1.7);
}


.hp_logo {
  width: 6%;
  bottom: 3%;
  position: absolute;
  right: 2%;
}
.hp_logo>img{
  width: 100%;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .hp_container_cards {
    gap: 1em;
  }
  .hp_card {
    
    min-height: 160px;
    height: 160px;
    max-height: 210px;
    width: 160px;

    justify-content: space-evenly;
    padding: 1em;
    text-transform: uppercase;
  }
}
