@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container_menu {
  display: grid;
  grid-template-columns: 5.5% 94.5%;
  background-color: #fff;
}

.logo {
  background-color: rgb(248, 99, 0);
  color: white;
}

/* =========== = =======================*/
/* 		 Home 
/* =========== = =======================*/
@import url('home.css');

/* =========== = =======================*/
/* 		 Search 
/* =========== = =======================*/
@import url('search.css');

/* =========== = =======================*/
/* 		 Lateral menu 
/* =========== = =======================*/
@import url('menu.css');

/* =========== = =======================*/
/* 		 ASide Address 
/* =========== = =======================*/
@import url('./products/index.css');