@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.container_menu {
  display: grid;
  grid-template-columns: 5.5% 94.5%;
  background-color: #fff;
}

.error_center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

@media screen and (max-width:1024px) {
  .container_menu {
    grid-template-columns: 7% 93%;
  }
}

/* =========== = =======================*/
/* 		 Home 
/* =========== = =======================*/
@import url('home.css');

/* =========== = =======================*/
/* 		 Search 
/* =========== = =======================*/
@import url('search.css');

/* =========== = =======================*/
/* 		 Lateral menu 
/* =========== = =======================*/
@import url('menu.css');

/* =========== = =======================*/
/* 		 ASide Address 
/* =========== = =======================*/
@import url('./products/index.css');

/* =========== = =======================*/
/* 		 Loader 
/* =========== = =======================*/
@import url('loader.css');

/* =========== = =======================*/
/* 		 Modal 
/* =========== = =======================*/
@import url('./modal/index.css');
