.sh_backgorund_page,
.sh_overlay_page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.sh_backgorund_page {
  background-color: rgb(77, 76, 76);
  background-image: url("https://res.cloudinary.com/ddeguj0jq/image/upload/v1631557359/back-min_mwrzld.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.sh_overlay_page {
  background-color: rgba(0, 0, 0, 0.425);
}
.sp_text {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-shadow: 7px 7px 6px rgba(0, 0, 0, 0.493);
}

.sp_form {
  display: grid;
  grid-template-columns: 80% 20%;
  margin: 2.5em auto 0 auto;
  width: 70%;
  position: relative;
}
.sp_form > button {
  background-color: var(--primary);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 1.1em;
  text-transform: uppercase;
  border-radius: 5px;
}
.sp_form > button:hover {
  background-color: rgb(230, 94, 3);
}
.sp_container_input {
  align-items: center;
  background-color: white;
  display: grid;
  grid-template-columns: 5% 95%;
  margin: 0 1em;
  overflow: hidden;
  padding: 0 1em;
}
.sp_container_input > input {
  border: none;
  font-size: 1.3em;
  margin: 0 0 0 0.5em;
  outline: none;
}
.sp_container_input > input::placeholder {
  text-transform: uppercase;
}
.sp_container_input > img {
  filter: opacity(0.3);
  width: 2em;
}
.sh_logo {
  margin: 1.5em auto 1.5em auto;
  width: 8%;
}
.sh_logo>img{
  width: 100%;
  vertical-align: top;
}
.pac-container {
  width: 53.5%!important;

  left: 16.25%!important;
  /* top:0!important; */
  /* transform: translateX(50%); */
}
.container_selected_place{
  background-color: red;
  width: 100%;
  
}

@media screen and (max-width:1024px) {
  .sp_form {
    width: 90%;
  }
}